<#+
enum OpCode
{
    /*----------------------------------------------------------------------
      name		args	description
    ------------------------------------------------------------------------*/
    Move,/*	A B	R[A] := R[B]					*/
    LoadI,/*	A sBx	R[A] := sBx					*/
    LoadF,/*	A sBx	R[A] := (lua_Number)sBx				*/
    LoadK,/*	A Bx	R[A] := K[Bx]					*/
    LoadKx,/*	A	R[A] := K[extra arg]				*/
    LoadFalse,/*	A	R[A] := false					*/
    LFalseSkip,/*A	R[A] := false; pc++	(*)			*/
    LoadTrue,/*	A	R[A] := true					*/
    LoadNil,/*	A B	R[A], R[A+1], ..., R[A+B] := nil		*/
    GetUpVal,/*	A B	R[A] := UpValue[B]				*/
    SetUpVal,/*	A B	UpValue[B] := R[A]				*/

    GetTabUp,/*	A B C	R[A] := UpValue[B][K[C]:shortstring]		*/
    GetTable,/*	A B C	R[A] := R[B][R[C]]				*/
    GetI,/*	A B C	R[A] := R[B][C]					*/
    GetField,/*	A B C	R[A] := R[B][K[C]:shortstring]			*/

    SetTabUp,/*	A B C	UpValue[A][K[B]:shortstring] := RK(C)		*/
    SetTable,/*	A B C	R[A][R[B]] := RK(C)				*/
    SetI,/*	A B C	R[A][B] := RK(C)				*/
    SetField,/*	A B C	R[A][K[B]:shortstring] := RK(C)			*/

    NewTable,/*	A B C k	R[A] := {}					*/

    Self,/*	A B C	R[A+1] := R[B]; R[A] := R[B][RK(C):string]	*/

    AddI,/*	A B sC	R[A] := R[B] + sC				*/

    AddK,/*	A B C	R[A] := R[B] + K[C]:number			*/
    SubK,/*	A B C	R[A] := R[B] - K[C]:number			*/
    MulK,/*	A B C	R[A] := R[B] * K[C]:number			*/
    ModK,/*	A B C	R[A] := R[B] % K[C]:number			*/
    PowK,/*	A B C	R[A] := R[B] ^ K[C]:number			*/
    DivK,/*	A B C	R[A] := R[B] / K[C]:number			*/
    IDivK,/*	A B C	R[A] := R[B] // K[C]:number			*/

    BandK,/*	A B C	R[A] := R[B] & K[C]:integer			*/
    BorK,/*	A B C	R[A] := R[B] | K[C]:integer			*/
    BxorK,/*	A B C	R[A] := R[B] ~ K[C]:integer			*/

    ShrI,/*	A B sC	R[A] := R[B] >> sC				*/
    ShlI,/*	A B sC	R[A] := sC << R[B]				*/

    Add,/*	A B C	R[A] := R[B] + R[C]				*/
    Sub,/*	A B C	R[A] := R[B] - R[C]				*/
    Mul,/*	A B C	R[A] := R[B] * R[C]				*/
    Mod,/*	A B C	R[A] := R[B] % R[C]				*/
    Pow,/*	A B C	R[A] := R[B] ^ R[C]				*/
    Div,/*	A B C	R[A] := R[B] / R[C]				*/
    IDiv,/*	A B C	R[A] := R[B] // R[C]				*/

    Band,/*	A B C	R[A] := R[B] & R[C]				*/
    Bor,/*	A B C	R[A] := R[B] | R[C]				*/
    Bxor,/*	A B C	R[A] := R[B] ~ R[C]				*/
    Shl,/*	A B C	R[A] := R[B] << R[C]				*/
    Shr,/*	A B C	R[A] := R[B] >> R[C]				*/

    MmBin,/*	A B C	call C metamethod over R[A] and R[B]	(*)	*/
    MmBinI,/*	A sB C k	call C metamethod over R[A] and sB	*/
    MmBinK,/*	A B C k		call C metamethod over R[A] and K[B]	*/

    Unm,/*	A B	R[A] := -R[B]					*/
    BNot,/*	A B	R[A] := ~R[B]					*/
    Not,/*	A B	R[A] := not R[B]				*/
    Len,/*	A B	R[A] := #R[B] (length operator)			*/

    Concat,/*	A B	R[A] := R[A].. ... ..R[A + B - 1]		*/

    Close,/*	A	close all upvalues >= R[A]			*/
    Tbc,/*	A	mark variable A "to be closed"			*/
    Jmp,/*	sJ	pc += sJ					*/
    Eq,/*	A B k	if ((R[A] == R[B]) ~= k) then pc++		*/
    Lt,/*	A B k	if ((R[A] <  R[B]) ~= k) then pc++		*/
    Le,/*	A B k	if ((R[A] <= R[B]) ~= k) then pc++		*/

    EqK,/*	A B k	if ((R[A] == K[B]) ~= k) then pc++		*/
    EqI,/*	A sB k	if ((R[A] == sB) ~= k) then pc++		*/
    LtI,/*	A sB k	if ((R[A] < sB) ~= k) then pc++			*/
    LeI,/*	A sB k	if ((R[A] <= sB) ~= k) then pc++		*/
    GtI,/*	A sB k	if ((R[A] > sB) ~= k) then pc++			*/
    GeI,/*	A sB k	if ((R[A] >= sB) ~= k) then pc++		*/

    Test,/*	A k	if (not R[A] == k) then pc++			*/
    TestSet,/*	A B k	if (not R[B] == k) then pc++ else R[A] := R[B] (*) */

    Call,/*	A B C	R[A], ... ,R[A+C-2] := R[A](R[A+1], ... ,R[A+B-1]) */
    TailCall,/*	A B C k	return R[A](R[A+1], ... ,R[A+B-1])		*/

    Return,/*	A B C k	return R[A], ... ,R[A+B-2]	(see note)	*/
    Return0,/*		return						*/
    Return1,/*	A	return R[A]					*/

    ForLoop,/*	A Bx	update counters; if loop continues then pc-=Bx; */
    ForPrep,/*	A Bx	<check values and prepare counters>;
                        if not to run then pc+=Bx+1;			*/

    TForPrep,/*	A Bx	create upvalue for R[A + 3]; pc+=Bx		*/
    TForCall,/*	A C	R[A+4], ... ,R[A+3+C] := R[A](R[A+1], R[A+2]);	*/
    TForLoop,/*	A Bx	if R[A+2] ~= nil then { R[A]=R[A+2]; pc -= Bx }	*/

    SetList,/*	A B C k	R[A][C+i] := R[A+i], 1 <= i <= B		*/

    Closure,/*	A Bx	R[A] := closure(KPROTO[Bx])			*/

    VarArg,/*	A C	R[A], R[A+1], ..., R[A+C-2] = vararg		*/

    VarArgPrep,/*A	(adjust vararg parameters)			*/

    ExtraArg/*	Ax	extra (larger) argument for previous opcode	*/
}

const int INST_SIZE_A = 8;
const int INST_SIZE_B = 8;
const int INST_SIZE_C = 8;
const int INST_MAXARG_A = ((1 << INST_SIZE_A) - 1);
const int INST_MAXARG_B = ((1 << INST_SIZE_B) - 1);
const int INST_MAXARG_C = ((1 << INST_SIZE_C) - 1);
const int INST_OFFSET_sC = (INST_MAXARG_C >> 1);
const int INST_MAXARG_Bx = (1 << 17) - 1;
const int INST_OFFSET_sBx = INST_MAXARG_Bx >> 1;
const int INST_MAXARG_J = (1 << 25) - 1;
const int INST_OFFSET_sJ = (INST_MAXARG_J >> 1);

const string INST_OPCODE =  "((OpCode)(instruction & 0x7F))"; // 7 bits
const string INST_A = "((byte)((instruction >> 7)))"; // 8 bits
const string INST_B = "((byte)((instruction >> 16) & 0xFF))"; // 8 bits
const string INST_C = "((byte)((instruction >> 24) & 0xFF))"; // 8 bits
const string INST_K = "(((instruction >> 15) & 1) > 0)";
static string INST_SB = $"({INST_B}-{INST_OFFSET_sC})";
static string INST_SC = $"({INST_C}-{INST_OFFSET_sC})";
static string INST_Bx = "((int)((instruction >> 15) & 0x1FFFF))"; // 17 bits
static string INST_SBx = $"((int)({INST_Bx}-{INST_OFFSET_sBx}))"; // singed 17 bits
static string INST_Ax = $"((int)((instruction >> 7) & 0x3FFFFFF))"; // 25 bits
static string INST_SJ = $"({INST_Ax}-{INST_OFFSET_sJ})"; // signed 25 bits

string R_AS_INT(string name) => $"({name}.ivalue)";
string R_AS_FLOAT(string name) => $"({name}.fvalue)";
string R_IS_INT(string name) => $"({name}.type == LuaValueType.Integer)";
string R_IS_FLOAT(string name) => $"({name}.type == LuaValueType.Float)";
string R_IS_TABLE(string name) => $"({name}.type == LuaValueType.Table)";
string R_AS_TABLE(string name) => $"Unsafe.As<LuaTable>({name}.rvalue!)";
#>
